absl-py==2.1.0
altair==5.4.1
annotated-types==0.7.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens==2.4.1
astunparse==1.6.3
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker==1.8.2
Brotli
cachetools==5.5.0
certifi
cffi
charset-normalizer
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
defusedxml
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema
flatbuffers==24.3.25
fonttools==4.53.1
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.65.4
h5py==3.11.0
htmlmin==0.1.12
idna
ImageHash==4.3.1
ipykernel==6.29.4
ipython==8.24.0
ipywidgets
jedi==0.19.1
Jinja2
joblib==1.1.0  # Sesuaikan agar kompatibel dengan pandas-profiling dan phik
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.5.0
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
missingno==0.5.2
mistune
ml-dtypes==0.4.0
multimethod==1.12
namex==0.0.8
narwhals==1.9.0
nbclient
nbconvert
nbformat
nest-asyncio==1.6.0
networkx==3.3
notebook
notebook_shim
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
overrides
packaging
pandas==1.4.3  # Turunkan versi agar lebih kompatibel
pandas-profiling==3.2.0
pandocfilters
parso==0.8.4
phik==0.11.0
pillow==10.4.0
platformdirs==4.2.1
ply
prometheus-client
prompt-toolkit==3.0.43
protobuf==4.25.4
psutil==5.9.8
pure-eval==0.2.2
pyarrow==12.0.0  # Turunkan versi untuk memastikan kompatibilitas
pycparser
pydantic==2.9.1
pydantic_core==2.23.3
pydeck==0.9.1
Pygments==2.17.2
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
PyWavelets==1.7.0
PyYAML
pyzmq==26.0.2
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich==13.7.1
rpds-py
scikit-learn==1.0.2  # Turunkan versi agar sesuai dengan joblib
scipy==1.9.3  # Turunkan versi agar lebih kompatibel
seaborn==0.13.2
Send2Trash
setuptools==69.5.1
sip
six
smmap==5.0.1
sniffio
soupsieve
SQLAlchemy==2.0.32
stack-data==0.6.3
streamlit==1.39.0
tangled-up-in-unicode==0.2.0
tenacity==9.0.0
tensorboard==2.9.0  # Turunkan versi agar lebih stabil
tensorboard-data-server==0.6.1
termcolor==2.4.0
terminado
threadpoolctl==3.1.0  # Sesuaikan untuk kompatibilitas dengan scikit-learn yang lebih lama
tinycss2
toml==0.10.2
tornado==6.4
tqdm==4.66.5
traitlets==5.14.3
typing_extensions
tzdata==2024.1
urllib3
visions==0.7.4
watchdog==5.0.3
wcwidth==0.2.13
webencodings
websocket-client
Werkzeug==3.0.3
wheel==0.43.0
widgetsnbextension
wrapt==1.16.0
